
/* Global declarations */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    /* global default font */
    font-family: monospace;

    /* debugging */
    border: 1px solid blue;
    color: white;
}

body {
  background-color: rgb(75, 74, 75);  
  overflow: hidden;
}

p {
    font-size: 1.3em;
}

button {
    outline: none;
    background-color: black;
    font-size: 1.3em;
}

h1, h2 {
    color: rgb(251, 251, 132);
    text-align: center;
}

li {
    list-style: none;
}


/* Outer-Container section */
.outer-container {
    padding: 10px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

/* Top-bar Container */
.top-bar p {
    float: right;
}

/* Inner-Container Section */
.inner-container {
    background-color: rgb(46, 46, 46);
    height: 100%;
    width: 50%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


/* Header/Quiz Intro Section */

.quiz-intro, main {
    display: none;
    margin-bottom: 30vh;
    margin-left: 10%;
    margin-right: 10%;
    background-color: rgb(99, 99, 99);
}

.quiz-intro p {
    text-align: center;
}

.quiz-intro button {
    display: block;
    margin: 0 auto;
    width: 50%;
}

main {
    display: block;
}






/* Main Quiz Content */

